@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
.container {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-around;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    background-clip: border-box;
    border: 1px solid #EFF2F7;
    border-radius: 0.375rem;
    width: 330px;
    height: 396.85px;
    margin-bottom: 40px;
    
} 

.image {
    width: 280px;
    height: 160.05px;
    transform: scale(1);
    transition: all 0.2s ease;
    transition-delay: .2s;
}

.card:hover .image {
    transform: scale(1.1);
}

.color{
    transform: scale(1);
    transition: all 0.2s ease;
    transition-delay: .2s;
}

.color:hover {
    transform: scale(1.1);
}

.buttons {
    align-self: flex-start;
    padding-top: 20px;
    padding-left: 20px;
}

.button1 {
    margin-right: 18px;
}


.product-colors a {
    display: inline-block;
    float: none !important;
    width: 1rem;
    height: 1rem;
    margin-right: 3px;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.center {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #3C4858;
    margin: 0px 0px 8px;
}

.card-body {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #8492A6;
    margin: 0px 10px 16px 10px;
    
}

.price {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 0px 10px 24px 10px;
    font-weight: 600;
    color: #8492A6;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 55%;
    margin-left: -6px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }